.full-width-element {
  width: 100%;
  @include input-element();
}

.form-group {
  .icon-wrapper {
    margin-bottom: 19px;
    color: $charcoal;
  }

  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.portfolio-form-wrapper {
  @include base-grid();
  grid-template-columns: 1fr;

  padding: 42px;

  @include base-input();
}

.selectElement {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: transparent;
  outline: none;
  font-size: 0.8rem;
}

textarea {
  background-color: transparent;
  font-size: 1rem;
  height: 100px;
  border: 1px solid $teal;
  outline: none;
  padding: 10px;
}
