.ReactModal__Content {
  .rdw-editor-main {
    height: 120px !important;
  }

  .DraftEditor-root {
    height: calc(100% - 40%) !important;
  }

  .rdw-image-modal {
    left: -215px !important;
  }

  .rdw-emoji-modal {
    left: -167px !important;
  }

  .rdw-embedded-modal {
    left: -125px !important;
  }

  @include input-element();
  input {
    margin-bottom: 5px;
  }
}
