.ReactModal__Content {
  .rdw-editor-main {
    height: 300px !important;
  }

  .DraftEditor-root {
    height: calc(100% - 15%) !important;
  }

  .rdw-image-modal {
    left: -215px !important;
  }

  .rdw-emoji-modal {
    left: -167px !important;
  }

  .rdw-embedded-modal {
    left: -125px !important;
  }
}
