.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;

  .active-nav-link {
    border-bottom: 1px solid black;
    color: black !important;
  }
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}
