.portfolio-manager-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .left-column {
    background-color: red;
  }

  .right-column {
    background-color: blue;

    .portfolio-item-thumb {
      padding: 21px;

      .thumb-img img {
        width: 100%;
      }
    }
  }
}
