.portfolio-manager-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .left-column {
    background-color: $offwhite;

    input[type="text"] {
      background-color: transparent;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid $teal;
      font-size: 1rem;
      padding-bottom: 10px;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }

  .right-column {
    background-color: $charcoal;

    .portfolio-item-thumb {
      padding: 21px;

      .thumb-img img {
        width: 100%;
      }
    }
  }
}
